// =============================================================================
// COLORS
// =============================================================================

// Basics
// -----------------------------------------------------------------------------

$color-black:                       #000;
$color-white:                       #fff;

$color-whitesBase:                  #fff;

$color-grey:                        #999;
$color-greyDarkest:                 #292929;
$color-greyDarker:                  #333;
$color-greyDark:                    #5f5f5f;
$color-greyMedium:                  #ddd;
$color-greyLight:                   #ebebeb;
$color-greyLighter:                 #f5f5f5;
$color-greyLightest:                #fcfcfc;

// Branding
// -----------------------------------------------------------------------------

$color-primary:                     #333;
$color-primaryLight:                lighten($color-primary, 15%);
$color-primaryDark:                 darken($color-primary, 15%);
$color-primaryDarker:               #000;

$color-secondary:                   #fff;
$color-secondaryDark:               $color-greyLightest;
$color-secondaryDarker:             $color-greyLighter;

$color-highlight:                   #4496f6;
$color-highlightDark:               darken($color-highlight, 15%);
$color-highlightDarker:             darken($color-highlight, 25%);

// States
// -----------------------------------------------------------------------------

$color-error:                       #ed6a6a;
$color-errorLight:                  #fbeeee;

$color-info:                        #5f5f5f;
$color-infoLight:                   #f5f5f5;

$color-success:                     #51a551;
$color-successLight:                #dfefdc;

$color-warning:                     #d1a162;
$color-warningLight:                #fbf7ee;

// Text
// -----------------------------------------------------------------------------

$color-textBase:                    $color-highlight;
$color-textBase-hover:              $color-highlightDark;
$color-textBase-active:             $color-highlightDarker;

// Order status
// -----------------------------------------------------------------------------

$color-orderAwaitingFulfilment:     #6eccfc;
$color-orderAwaitingPayment:        #f80;
$color-orderAwaitingPickup:         #b186cb;
$color-orderAwaitingShipment:       #ca2f3a;
$color-orderCancelled:              #3c4043;
$color-orderCompleted:              #95db89;
$color-orderDeclined:               #955831;
$color-orderDisputed:               #9960ff;
$color-orderPartiallyShipped:       #3e62a1;
$color-orderPending:                #acb4be;
$color-orderShipped:                #95db89;
$color-orderRefunded:               #ffb800;
$color-orderVerificationRequired:   #e89fae;

// Checkout specific extras to the colour map
// -----------------------------------------------------------------------------
//
// Purpose: Sometimes there's just not enough colours
//
// -----------------------------------------------------------------------------

$color-errorLighter:                #fffafa;


// Noissue Brand Colors
$color-acai-120:                    #221533;
$color-acai-100:                    #2C1847;
$color-acai-80:                     #56466C;
$color-acai-60:                     #807491;
$color-acai-40:                     #ABA3B5;
$color-acai-20:                     #D5D1DA;
$color-acai-5:                      #F5F4F6;

$color-unbleached-120:              #E0D6C7;
$color-unbleached-100:              #F1E7D8;
$color-unbleached-80:               #F4ECE0;
$color-unbleached-60:               #F7F1E8;
$color-unbleached-40:               #F9F5EF;
$color-unbleached-20:               #FCFAF7;
$color-unbleached-5:                #FEFDFB;

$color-pitaya-120:                  #CC2676;
$color-pitaya-100:                  #FF379C;
$color-pitaya-80:                   #FF5FB0;
$color-pitaya-60:                   #FF87C4;
$color-pitaya-40:                   #FFAFD7;
$color-pitaya-20:                   #FFD7EB;
$color-pitaya-5:                    #FFF0F8;

$color-bud-120:                     #C5A0E5;
$color-bud-100:                     #D9B1FB;
$color-bud-80:                      #E1C1FC;
$color-bud-60:                      #E8D0FD;
$color-bud-40:                      #F0E0FE;
$color-bud-20:                      #F7EFFE;
$color-bud-5:                       #FDFBFF;

$color-forest-120:                  #242517;
$color-forest-100:                  #303123;
$color-forest-80:                   #595A4F;
$color-forest-60:                   #83837B;
$color-forest-40:                   #ACADA7;
$color-forest-20:                   #D6D6D3;
$color-forest-5:                    #F5F5F4;

$color-starfruit-120:               #B0D217;
$color-starfruit-100:               #BFEA01;
$color-starfruit-80:                #CCEE34;
$color-starfruit-60:                #D9F267;
$color-starfruit-40:                #E5F799;
$color-starfruit-20:                #F2FBCC;
$color-starfruit-5:                 #FCFEF2;

$color-black-100:                   #111111;
$color-black-80:                    #636363;
$color-black-60:                    #909090;
$color-black-40:                    #C1C1C1;
$color-black-20:                    #E8E8E8;
$color-black-10:                    #F5F5F5;
$color-black-5:                     #FBFBFB;
$color-error:                       #DD2727;

/* Utility Colors */
$color-boulder:                     #333333;
$color-sand:                        #F5F0E8;
$color-paper:                       #F7F5F1;
$color-pebble:                      #F2F2F2;
$color-white:                       #FFFFFF;
