// =============================================================================
// FORMS
// =============================================================================

// Bigcommerce forms
// -----------------------------------------------------------------------------
//
// Purpose: Provide any additional styling to Bigcommerce form components
// that citadel does not provide out of the box
//
// -----------------------------------------------------------------------------

//
// Check radios
// -----------------------------------------------------------------------------

.form-checkbox + .form-label,
.form-radio + .form-label {
    color: inherit;
}

.form-checkbox:checked + .form-label::before,
.form-radio:checked + .form-label::before {
    background-color: color("highlight");
    border-color: color("highlight");
}

.form-radio:checked + .form-label::after {
    border: none;
    transform: scale(0.5);
}

.formField--helpText {
    color: color("greys");
}

// =============================================================================
// Custom Noissue Styles
// =============================================================================

$field-primary-text-color:          $color-black-100;
$field-secondary-text-color:        $color-black-60;
$field-border-active-color:         $color-acai-100;
$field-border-color:                $color-black-20;
$field-height:                      66px;
$field-font-size:                   16px;
$field-leading:                     1.25;
$field-label-initial-position:      24px;
$field-label-active-position:       10px;
$field-horizontal-padding:          16px;
$field-top-padding:                 14px;
$field-bottom-padding:              6px;
$field-border-width:                2px;
$field-border-radius:               6px;
$field-transition-duration:         .2s;

.form-field--text,
.form-field--dropdown {
    position: relative;

    .form-select,
    .form-input {
        color: $field-primary-text-color;
        border: $field-border-width solid $color-black-20;
        border-radius: $field-border-radius;
        box-shadow: none;
        font-size: $field-font-size;
        line-height: $field-leading;
        height: $field-height;
        padding: 14px $field-horizontal-padding 6px;
    }

    .form-label  {
        position: absolute;
        top: $field-label-initial-position;
        left: $field-horizontal-padding + $field-border-width;
        font-size: $field-font-size;
        line-height: $field-leading;
        color: $color-black-60;
        transition: top $field-transition-duration ease-in-out, transform $field-transition-duration ease-in-out;
    }

    .form-label:has(~.form-input[placeholder]:not([placeholder=""])),
    .form-label:has(~.form-input[value]:not([value=""])),
    .form-label:has(~.form-select),
    &:focus-within .form-label {
        top: $field-label-active-position;
        left: $field-horizontal-padding + $field-border-width;
        transform-origin: 0 0;
        transform: scale(.75);
    }

    &:focus-within .form-input {
        outline: none;
        border-color: $color-acai-100;
    }

    .dropdown-chevron {
        top: 50%;
        transform: translateY(-50%);
    }
}

.dropdown--select {
    color: $color-black;

    .dropdown-toggle {
        &--select {
            font-size: $field-font-size;
            border: $field-border-width solid $color-black-20;
            border-radius: $field-border-radius;

            &:focus,
            &:hover {
                border-color: $color-acai-100;
            }
        }
    }
}
