// =============================================================================
// FORMS
// =============================================================================

// Bigcommerce forms
// -----------------------------------------------------------------------------
//
// Purpose: Provide any additional styling to Bigcommerce form components
// that citadel does not provide out of the box
//
// -----------------------------------------------------------------------------

//
// Check radios
// -----------------------------------------------------------------------------

.form-checkbox + .form-label,
.form-radio + .form-label {
    color: inherit;
}

.form-checkbox + .form-label {
    font-size: $check-label-font-size;
    padding-left: $check-label-left-padding;
}

.form-checkbox:focus + .form-label::before,
.form-radio:focus + .form-label::before {
    background-color: $color-white;
    border-color: $check-primary-color;
}

.form-checkbox + .form-label::before,
.form-radio + .form-label::before {
    width: $check-size;
    height: $check-size;
    border-radius: $check-radius;
    background-color: $color-white;
    border-color: $check-secondary-color;
}

.form-checkbox:checked + .form-label::before,
.form-radio:checked + .form-label::before {
    background-color: $check-secondary-color;
    border-color: $check-secondary-color;
}

.form-radio:checked + .form-label::after {
    border: none;
    transform: scale(0.5);
}

.form-checkbox:checked + .form-label::after {
    background-image: url('../static/svg/check.svg');
    background-position: 50% 50%;
    width: $check-icon-size;
    height: $check-icon-size;
}

.formField--helpText {
    color: color("greys");
}

// =============================================================================
// CUSTOM NOISSUE INPUTS
// =============================================================================

.form-field--text,
.form-field--dropdown {
    position: relative;

    .form-select,
    .form-input {
        color: $form-input-primary-text-color;
        border: $form-input-border-width solid $color-black-20;
        border-radius: $form-input-border-radius;
        box-shadow: none;
        font-size: $form-input-font-size;
        line-height: $form-input-leading;
        height: $form-input-height;
        padding: 14px $form-input-horizontal-padding 6px;
    }

    .form-label  {
        position: absolute;
        top: $form-input-label-initial-top-position;
        left: $form-input-label-left-position;
        font-size: $form-input-font-size;
        line-height: $form-input-leading;
        color: $form-input-label-color;
        transition: top $form-input-transition-duration ease-in-out, transform $form-input-transition-duration ease-in-out;
    }

    .form-label:has(~.form-input[placeholder]:not([placeholder=""])),
    .form-label:has(~.form-input[value]:not([value=""])),
    .form-label:has(~.form-select),
    &:focus-within .form-label {
        top: $form-input-label-active-top-position;
        left: $form-input-label-left-position;
        transform-origin: 0 0;
        transform: scale(.75);
    }

    &:focus-within .form-input {
        outline: none;
        border-color: $form-input-focus-color;
    }

    .dropdown-chevron {
        top: 50%;
        transform: translateY(-50%);
    }
}

.dropdown--select {
    color: $form-input-primary-text-color;

    .dropdown-toggle {
        &--select {
            font-size: $form-input-font-size;
            border: $form-input-border-width solid $form-input-border-color;
            border-radius: $form-input-border-radius;

            &:focus,
            &:hover {
                border-color: $form-input-focus-color;
            }
        }
    }
}
