@import '../ui/Base';

.form-checklist-checkbox ~ .form-label-redeemable {
    &:hover {
        cursor: default;
    }

    &::before,
    &::after {
        content: none;
    }
}

.redeemable {
    display: table;
    padding: spacing("single");
    padding: 0;
    width: 100%;
}

.redeemable-column {
    display: table-cell;
}

.redeemable-actions {
    vertical-align: middle;
}

.redeemable-action,
.redeemable-info {
    line-height: lineHeight("base");
}

.redeemable-entry {
    margin-top: spacing("half");
}

.redeemable-info-header {
    display: block;
    margin-bottom: spacing("sixth");
}

.redeemable-info-header--highlight {
    font-weight: fontWeight("semibold");
}

.redeemable-info-subHeader {
    color: color("greys");
    font-size: fontSize("smallest");
    line-height: lineHeight("smallest");
}

.redeemable-info-subHeader--remaining {
    display: block;
}

.redeemable-remove-action {
    @include square(22px);

    &:hover svg {
        fill: color("primary");
    }
}

.redeemable-label {
    display: block;
    margin-bottom: spacing("half");
    font-size: fontSize("smaller");
    color: $color-acai-100;

    &:hover,
    &:focus,
    &:visited,
    &:focus-within {
        color: $color-acai-120;
    }
}

#redeemable-collapsable {
    .form-input {
        border: 2px solid $color-black-20;
        border-radius: 60px;
        box-shadow: none;
        padding-left: spacing("single");

        &:focus {
            border-color: $color-acai-100;
        }
    }
}

.redeemable-payments {
    @include breakpoint("large") {
        display: none;
    }
}
