// ProductList
// -----------------------------------------------------------------------------
//
// Purpose: Styling of the product list
//
//
// -----------------------------------------------------------------------------

.productList {
    @include u-listBullets("none");

    margin: 0;
}

.productList-item {
    margin-bottom: spacing("double");

    @include breakpoint("small") {
        margin-bottom: spacing("single");
    }

    &:last-child {
        margin-bottom: 0;
    }

    &:nth-child(n+5) {
        display: none;
    }

    &.is-visible:nth-child(n+5) {
        display: list-item;
    }
}

.product {
    display: flex;
    flex-wrap: wrap;
    margin-bottom: spacing("single") + spacing("half");

    &__header {
        display: flex;
        justify-content: space-between;
        margin-bottom: spacing("single") + spacing("fourth");
        width: 100%;
    }
}

.product-figure {
    margin: 0;
    padding-right: 1.5rem;
    width: 25%;

    img {
        border-radius: 100%;
    }
}

.product-body {
    order: 2;
    padding-right: 0;
    word-wrap: break-word;
    width: 75%;

    @include breakpoint("small") {
        padding-right: spacing("quarter");
    }
}

.product-title {
    font-size: fontSize("smaller");
    margin-bottom: spacing("eighth");
}

.product-options {
    color: color("greys");
    font-size: fontSize("tiny");
    margin: 0;
}

.product-option {
    font-size: "small";
    font-weight: fontWeight("normal");
    color: $color-black-100;
}

.product-description {
    margin-top: spacing("quarter");
}

.product-actions {
    align-self: center;
    margin-left: auto;

    @include breakpoint("small") {
        align-self: flex-start;
        order: 3;
        text-align: right;
        word-wrap: break-word; // 1
    }
}

.product-price {
    font-size: fontSize("smaller");
    font-weight: fontWeight("semibold");
}

.product-price--beforeDiscount {
    text-decoration: line-through;
}
